.box1{
    color:red;
    background-color: aqua;
}
.container{
    width: 80%;
    margin: auto;
    font-family: Consolas, "Courier New", monospace;
}
#name1{
    color:blue;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

